ADMIN_ROLE_NAME="Name of the Discord role that has admin privileges"
DISCORD_TOKEN="The bot’s secret token from the Discord Developer Portal"
DISCORD_CLIENT_ID="The bot’s client ID from the Discord Developer Portal"
DISCORD_GUILD_ID="The Discord server's guild ID from the server"
MC_SERVER_SCRIPT_LOCATION="E:/Minecraft Servers/_zaaras world"
MC_SERVER_SCRIPT_NAME="server_start.bat"